/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* espacios para Header, Content, Footer */
    grid-template-columns: 1fr;
    min-height: 100vh;
 }
 
 /* estilos para el Header */
 header {
    background-color: #429b55;
    color: #fff;
    padding: 20px;
    text-align: center;
 }

 header h1{
    text-align: left;
    margin-bottom: 30px;
 }
 
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
 }
 
 nav li {
    margin: 10px 10px;
 }
 
 nav a {
    color: #fff;
    text-decoration: none;
 }
 
 nav a:hover {
    color: #625aae;
 }
 
 /* estilos para el Content */
 #content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:10px;
    padding: 0px;
 }
 
 #main {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
 #main h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}
#main h3 {
    color: #666;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#main p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
}
#main img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
#aside {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 #aside h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}
 
 /* estilos para el Footer */
 footer {
    background-color: #636764;
    color: #fff;
    padding: 20px;
    text-align: center;
 }