/*Nuevos estilos*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #1a237e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1a237e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;
}

footer {
  background-color:#1a237e;
  color: #fff;
  text-align: center;
  padding: 10px;
}
